<table class="table" *ngIf="!showDetails">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Descritpion</th>
      <th scope="col">Rating</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of companies">
      <th>{{item.name}}</th>
      <th>{{item.description}}</th>
      <th>{{item.rating}}</th>
      <th>{{item.type}}</th>
      <th><button type="button" class="btn btn-primary" (click)="viewDetails(item)">View Details</button></th>
    </tr>
  </tbody>
</table>
<ng-container *ngIf="showDetails">
  <app-companies-list *ngIf="showDetails" [company]="company"></app-companies-list><br>
  <button type="button" class="btn btn-primary" (click)="showCompaniesList()">Back</button>
</ng-container>
