<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <img src="../../../../assets/nagarro_1657575620063.png" style="height: 40px;">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-secondary" (click)="navigate(1)" *ngIf="!isUserLogin">Login</a></li>
        <li><a class="nav-link px-2 link-secondary" (click)="navigate(2)" *ngIf="isUserLogin">Companies</a></li>
        <li><a class="nav-link px-2 link-dark" *ngIf="isUserLogin" (click)="navigate(3)">Applied Jobs</a></li>
        <li><a class="nav-link px-2 link-dark" *ngIf="isUserLogin">About Us</a></li>
      </ul>
      <div class="dropdown text-end" *ngIf="isUserLogin">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" (click)="logOut()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
